.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#search-btn {
	border-radius: 25px;
	border-color: #7ea8be;
	padding: 10px 30px 10px 30px;
	background-color: #7ea8be;
	color: #fff;
}
